.Average {
  width: 120px;
  height: 120px;
  color: var(--light-gray);
  font-size: 20px;
  text-align: center;
}

.Average .avg-num {
  background: var(--dart-green);
  padding: 25px 10px;
  font-size: 24px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.Average .avg-label {
  background: var(--dart-red);
  padding: 15px 10px;
  border-top: 1px solid var(--light-gray);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
