.Board .middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Board .board-container {
  width: 600px;
  height: 600px;
  background: #333;
  border-radius: 600px;
  position: relative;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.Board .scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 100px;
}

.Board .p11 {
  transform: rotate(-90deg);
}
.Board .p14 {
  transform: rotate(-72deg);
}
.Board .p9 {
  transform: rotate(-54deg);
}
.Board .p12 {
  transform: rotate(-36deg);
}
.Board .p5 {
  transform: rotate(-18deg);
}
.Board .p20 {
  transform: rotate(0);
}
.Board .p1 {
  transform: rotate(18deg);
}
.Board .p18 {
  transform: rotate(36deg);
}
.Board .p4 {
  transform: rotate(54deg);
}
.Board .p13 {
  transform: rotate(72deg);
}
.Board .p6 {
  transform: rotate(90deg);
}
.Board .numbersBottom {
  width: 60px;
  height: 50px;
  font: normal 50px/50px arial, sans-serif;
  color: #ddd;
  position: absolute;
  left: 270px;
  bottom: 1px;
  text-align: center;
  text-shadow: -1px 0 1px #eee, 1px 0 1px #000;
  transform-origin: 30px -246px;
}

.Board .p8 {
  transform: rotate(72deg);
}
.Board .p16 {
  transform: rotate(54deg);
}
.Board .p7 {
  transform: rotate(36deg);
}
.Board .p19 {
  transform: rotate(18deg);
}
.Board .p3 {
  transform: rotate(0deg);
}
.Board .p17 {
  transform: rotate(-18deg);
}
.Board .p2 {
  transform: rotate(-36deg);
}
.Board .p15 {
  transform: rotate(-54deg);
}
.Board .p10 {
  transform: rotate(-72deg);
}
.green {
  border-color: #363 transparent transparent transparent;
}
.red {
  border-color: #a33 transparent transparent transparent;
}
.black {
  border-color: #333 transparent transparent transparent;
}
.white {
  border-color: #eec transparent transparent transparent;
}

.Board b.b1 {
  transform: rotate(18deg);
}
.Board b.b18 {
  transform: rotate(36deg);
}
.Board b.b4 {
  transform: rotate(54deg);
}
.Board b.b13 {
  transform: rotate(72deg);
}
.Board b.b6 {
  transform: rotate(90deg);
}
.Board b.b10 {
  transform: rotate(108deg);
}
.Board b.b15 {
  transform: rotate(126deg);
}
.Board b.b2 {
  transform: rotate(144deg);
}
.Board b.b17 {
  transform: rotate(162deg);
}
.Board b.b3 {
  transform: rotate(180deg);
}
.Board b.b19 {
  transform: rotate(198deg);
}
.Board b.b7 {
  transform: rotate(216deg);
}
.Board b.b16 {
  transform: rotate(234deg);
}
.Board b.b8 {
  transform: rotate(252deg);
}
.Board b.b11 {
  transform: rotate(270deg);
}
.Board b.b14 {
  transform: rotate(288deg);
}
.Board b.b9 {
  transform: rotate(306deg);
}
.Board b.b12 {
  transform: rotate(324deg);
}
.Board b.b5 {
  transform: rotate(342deg);
}
