.BullsArea .bull-ring {
  width: 48px;
  height: 48px;
  border: 2px solid #ddd;
  border-radius: 48px;
  position: absolute;
  left: 274px;
  top: 274px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
  background: #363;
}
.BullsArea .bulls-eye {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 20px;
  position: absolute;
  left: 288px;
  top: 288px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
  background: #a33;
}
