@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.Header {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header .start-btn {
  width: 100px;
  height: 50px;
  background-color: #a33;
  color: #fff;
  border-radius: 200px;
  border: none;
  transition: all 200ms ease-in-out;
}

.Header .start-btn:hover {
  background-color: #363;
  cursor: pointer;
}
