@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400&display=swap");

:root {
  --cream: #eec;
  --font-gray: #ccc;
  --drak-gray: #333;
  --light-gray: #eee;
  --dart-green: #1b9714;
  --dart-green-accent: #136a0e;
  --dart-red: #a33;
  --dart-red-accent: #74000d;
  --dart-blue-accent: #032b43;
  --light-yellow: #ffff00;

  --kumbh: "Kumbh Sans", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #eee;
}

ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}
