.Lines {
    width: 480px;
    height: 480px;
    position: absolute;
    left: 60px;
    top: 60px;
  }
  .Lines b {
    display: block;
    width: 2px;
    height: 216px;
    position: absolute;
    left: 239px;
    top: 0;
    background: #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    transform-origin: 1px 241px;
  }
  .Lines b.x1 {
    transform: rotate(9deg);
  }
  .Lines b.x2 {
    transform: rotate(27deg);
  }
  .Lines b.x3 {
    transform: rotate(45deg);
  }
  .Lines b.x4 {
    transform: rotate(63deg);
  }
  .Lines b.x5 {
    transform: rotate(81deg);
  }
  .Lines b.x6 {
    transform: rotate(99deg);
  }
  .Lines b.x7 {
    transform: rotate(117deg);
  }
  .Lines b.x8 {
    transform: rotate(135deg);
  }
  .Lines b.x9 {
    transform: rotate(153deg);
  }
  .Lines b.x10 {
    transform: rotate(171deg);
  }
  .Lines b.x11 {
    transform: rotate(189deg);
  }
  .Lines b.x12 {
    transform: rotate(207deg);
  }
  .Lines b.x13 {
    transform: rotate(225deg);
  }
  .Lines b.x14 {
    transform: rotate(243deg);
  }
  .Lines b.x15 {
    transform: rotate(261deg);
  }
  .Lines b.x16 {
    transform: rotate(279deg);
  }
  .Lines b.x17 {
    transform: rotate(297deg);
  }
  .Lines b.x18 {
    transform: rotate(315deg);
  }
  .Lines b.x19 {
    transform: rotate(333deg);
  }
  .Lines b.x20 {
    transform: rotate(351deg);
  }