.ScoreBoard {
  width: 480px;
  font-family: var(--kumbh);
  font-size: 20px;
}
.ScoreBoard .top,
.ScoreBoard .bottom {
  color: var(--light-gray);
  background-color: var(--drak-gray);
}

.ScoreBoard .top {
  text-align: center;
}

.ScoreBoard .darts-count {
  background-color: var(--light-yellow);
  color: #000;
  text-align: center;
}

.ScoreBoard .darts-count span {
  vertical-align: text-top;
}

.ScoreBoard .col-1 {
  padding: 0 !important;
}

.ScoreBoard .name {
  color: var(--gray-dark);
  font-size: 20px;
  background-color: #fff;
}
.ScoreBoard .score {
  background-color: var(--dart-green);
  color: #eee;
  text-align: center;
}

.ScoreBoard .score span {
  vertical-align: text-top;
}

.ScoreBoard .turn-wrapper {
  background-color: var(--dart-red);
  padding: 10px;
  padding-left: 15px;
}
.ScoreBoard .turn {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 10px 7px 0;
  border-color: transparent #fff transparent transparent;
}

.ScoreBoard .hide {
  display: none;
}
