.TripleArea {
  width: 300px;
  height: 300px;
  border: 2px solid #ddd;
  border-radius: 50%;
  position: absolute;
  left: 148px;
  top: 148px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}
.TripleArea b {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 25px 0 25px;
  transform-origin: bottom;
  left: 125px;
}